
html, body {
    height: 100%;
}

body {
  font-family: 'Dosis', sans-serif;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px;
  font-family: 'Dosis', sans-serif;
  font-size: 16px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.navbar {
    overflow: hidden;
    background-color: #efa5a4;
    margin-bottom: 10px;
}

.nav-element {
    float: left;
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: black;
    font-weight: bold;
    /* text-shadow: 2px 2px 2px white; */
    padding: 14px 20px;
    background-color: inherit;
    font-family: inherit; /*  for vertical align on mobile phones */
    margin: 0; /* for vertical align on mobile phones */
  }

.dropdown {
    float: left;
    overflow: hidden;
}

.nav-element:hover, .dropdown:hover .dropbtn {
    background-color: white;
}

/* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #efa5a4;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown*/
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

/*Add a grey background color to dropdown links on hover*/
  .dropdown-content a:hover {
    background-color: #ffffff;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

.top-banner {
    width: 100%;
    height: 5%;
    background: white;
    font-size: 30px;
    font-weight: bolder;
    margin-left: 1%;
}

.container {
    background-image: url('images/background.png');
    height: 95%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.text-container {
    margin-top: 100px;
    margin: auto;
    width: 800px;
}

.terms-row {
    display: flex;
}

.terms-column {
    flex: 50%;
    padding: 0px 20px 0px 20px;
}

#homepage-div {
  top: 120px;
  width: 1000px;
  position: relative;
  margin: auto;
}

#homepage-erika {
  float: left;
}

#homepage-blurb {
  position: relative;
  top: -30px;
  right: 100px;
  float: right;
  width: 400px;
  font-size: 24px;
  font-weight: bold;
}

#clear-float {
  clear: both;
}

#homepage-button {
  width: 160px;
  height: 60px;
  background-color: #26416d;
  font-size: 30px;
  color: white;
  margin: auto;
  text-align: center;
  line-height: 60px;
  font-weight: bolder;
  box-shadow: 4px 3px 8px 1px #969696;
  font-family: 'Indie Flower', cursive;
}

.no-text-decoration {
  text-decoration: none;
}

#name-prompt-div {
  top: 120px;
  width: 1000px;
  position: relative;
  margin: auto;
  /* background-color:antiquewhite; */
}

#name-prompt-erika {
  float: left;
}

#name-prompt-blurb {
  position: relative;
  right: 100px;
  float: right;
  width: 500px;
  font-size: 40px;
  font-weight: bold;
}

#username {
  font-size: 24px;
  width: 200px;
  height: 30px;
}

.blurb {
  font-family:'Indie Flower', cursive;
}

#name-prompt-button {
  position: absolute;
  right: 2%;
  bottom: 4%;
  cursor: pointer;
}

#sc1a-button-container {
  position: absolute;
  right: 2%;
  bottom: 4%;
}

.next-button {
  width: 80px;
  height: 50px;
  color: white;
  background-color: #26416d;
  padding: 2px;
  font-size: 26px;
  text-align: center;
  line-height: 50px;
  position: absolute;
  border-radius: 3px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 2%;
  bottom: 4%;
  font-family: 'Indie Flower', cursive;
}

.make-pointer {
  cursor: pointer;
}


#sc1b-div {
  top: 80px;
  width: 800px;
  position: relative;
  margin: auto;
}

#sc1b-erika {
  float: left;
}

#sc1b-blurb {
  position: relative;
  top: 10px;
  right: 100px;
  float: right;
  width: 400px;
  font-size: 24px;
  font-weight: bold;
}

.option-container {
  position: relative;
  top: 50px;
  width: 900px;
  margin: auto;
  display: flex;
}

/* HIDE RADIO */
/* width and height are not 0 so the validation message still appears */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0px;
  height: 0px;
  /* top: 100px; */
}

/* radio button text box styles */
.option {
  cursor: pointer;
  position: relative;
  width: 80px;
  margin-left: 10px;
  margin-right: 10px;
  flex: 1;
}

/* radio button text styles */
.option-text {
  background-color: rgb(109, 114, 254);
  width: 200px;
  height: 100px;
  padding: 30px;
  color: rgb(237, 237, 237);
  font-size: 20px;
  border-radius: 5px;
}

/* CHECKED STYLES */
[type=radio]:checked + div {
  outline: 3px solid black;
}

.sc1a-blurb {
  font-size: 30px;
  font-weight: bold;
}

#sc1a-top-div {
  position: relative;
  top: 50px;
  left: 25px;
  float: right;
  width: 600px;
}

#term-intro {
  margin-top: -80px;
}

.sc1a-terms {
  font-size: 20px;
  padding: 10px;
}

.sc1a-tips {
  font-size: 20px;
  padding: 10px;
}